:root {
    /* App Color */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Color */
    --color-dracular-black: #2d3436;
    --color-light-grey: #dfe6e9;
    --color-soothing-grey: #b2bec3;
    --color-dark-grey: #636e72;
    --color-exodus-purple: #6c5ce7;
    --color-shy-purple: #a29bfe;
    --color-sour-lemon: #ffeaa7;
    --color-first-date: #fab1a0;
    --color-orange-villege: #e17055;

    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
}

/* Universal tage */
* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    cursor: default;
}

h1,h2,h3,p,ul {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Section common */
.section {
    padding: 4rem;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.3rem;
    margin:0.5rem 0;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}


/* Nav */
#navbar {
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--color-text);
    padding: 8px;
    z-index: 1;
    transition: all 300ms ease;
}

.navbar--dark {
    background-color: var(--color-primary) !important; 
}

.navbar__logo {
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
}

.navbar__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 10%;
    font-weight: 700;
}

.navbar__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

/* Home */
#home {
    background: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: fill;
    padding: 8px;
    border-radius: 50%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title__strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    margin: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-accent);
    border-radius: 4px;
    color: var(--color-black);
    font-weight: bold;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
    padding: 0.5rem 1rem;
    font-weight: bold;
}

/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
    padding: 2rem 1rem;
    border-radius: 1rem;
    cursor: default;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
    width: 100%;
}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.3);
}

.job {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.job__logo {
    width: 50px;
}
.job__description {
    color: var(--color-primary);
    margin: 0 16px;
    text-align: left;
}

.job__name {
    color: var(--color-primary);
}
.job__period {
    font-size: 0.8rem
}

/* Skill */
#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skillset {
    display: flex;
    color: var(--color-text);
    margin: 2rem 3rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.45)
}

.skillset__left {
    flex-basis: 55%;
    background-color: var(--color-primary);
    padding: 1rem;
}

.skillset__right {
    flex-basis: 45%;
    background-color: var(--color-primary);
    filter: brightness(150%);
}

.tools {
    padding: 1rem;
    background-color: var(--color-primary-variant);
}

.tools__list, .etc__list {
    padding-bottom: 1rem;
}

.etc {
    padding: 1rem;
}

.skillset__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skill__description {
    display: flex;
    justify-content: space-between;
   
}

.skill {
    margin-bottom: 32px;
}
.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}
.skill__value {
    height: 3px;
    background-color: var(--color-accent);
}



/* Work */
.category__btn {
    border: 1px solid var(--color-soothing-grey);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}
.category__btn.active, 
.category__btn:hover {
    background-color: var(--color-soothing-grey);
    color: var(--color-text);
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}
.category__count {
    background-color: var(--color-orange-villege);
    border-radius: 50%;
    color: var(--color-text);
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all 300ms;
}

#work {
    background-color: var(--color-primary) ;
    color: var(--color-text);
}

.work__projects {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project {
    position: relative;
    width: 260px;
    height: 200px;
    margin: 0.4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-variant);
    border-radius: 8px;
    overflow: hidden;
}

.project__title:after {
    content:'';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
    margin: 0.5rem 0;
}

.project__img {
    width: 100%;
    height: 100%;
    align-self: center;
}

.project__description {
    color: var(--color-text);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    opacity: 0;
    transition: all 300ms ease-in;
    transform: translateY(10px);
}
.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0px);
}
.project__description h3 {
    color: var(--color-text);
}

.project__description h3 ::after {
    content: '';
    display: block;
    position: relative;
    left:50px;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-light-grey);
    color: var(--color-text);
}

/* Contact */
#contact {
    color: var(--color-primary);
}

.contact__title {
    font-weight:bolder;
    font-size: 2rem;
}

.contact__email {
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

.contact__links {
    color: var(--color-primary);
    font-size: 1.5rem;
    transition: all 300ms ease-in;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-accent-variant);
}

.fa-github, .fa-linkedin {
    color: var(--color-primary);
}

@media screen and (max-width: 768px) {
    .section {
        padding: 3rem 2rem;
    }

    .title {
        font-size: 2rem;
    }
    
    .description {
        font-size: 1rem;
    }

    #navbar {
        flex-direction: column;
        align-items: start;
    }

    .navbar__menus {
        width: 100%;
        text-align: center;
        padding: 1rem 4rem;
        gap: 1rem;
    }

    .navbar__menu {
        flex-direction: column;
    }

    #home {
        padding-top: 3rem;
    }
    
    .home__avatar {
        margin-top: 2rem;
    }
    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .about__majors {
        flex-direction: column;
        align-items: center;
    }
    
    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }

    .skillset {
        flex-direction: column;
    }
}